/* General styling */

body {
    font-family: Helvetica, Garamond, Arial, Verdana;
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
}

.row {
    margin: 0;
}

/* Header */

header {
    padding: 0;
    margin: 0;
    height: 100px;
    width: 100%;
    float: left;
    border-bottom: 5px solid #CD1717;
    background-color: #000;
}

header .container, header .row {
    height: inherit;
    max-width: 100%;
}

/* logo */

#logo-container {
    padding:0;
    margin:0;
}

#logo {
    height: 100px;
    width: 100px;
}

/* help button */

#button-container {
    padding:0;
    margin:0;
}

#settings-button, #help-button {
    float: right;
    height: 60px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    border: 2px solid #FF2525;
    margin-top: 20px;
    margin-left: 15px;
    padding: 15px 0;
    border-radius: 7px;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
}

#help-button {
    width: 70px;
}

#settings-button {
    width: 100px;
}

#settings-button:hover, #help-button:hover {
    color: #000;
    background-color: #fff;
    border-color: #FF2525;
}

/* main body section */

.main-content {
    margin-top: 100px;
    min-height: calc(100vh - 185px); /* 185px = sum of header and footer height */
    padding: calc((100vh - 800px)/2) 0;
}

/* game area */

#button-row {
    display: flex;
    justify-content: space-between;
}

#start-game {
    height: 40px;
    width: 75px;
    margin: 38px 0;
    color: #fff;
    background-color: #000;
    border: 2px solid #FF2525;
    border-radius: 7px;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
}

.periodic button {
    height: 40px;
    width: 75px;
    margin: 38px 0;
    padding: 0;
    color: #fff;
    background-color: #000;
    border: 2px solid #FF2525;
    border-radius: 7px;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
}

#history {
    height: 40px;
    width: 75px;
    margin: 38px 0;
    color: #fff;
    background-color: #000;
    border: 2px solid #FF2525;
    border-radius: 7px;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
}

#game {
    height: 40px;
    width: 75px;
    margin: 38px 0;
    color: #fff;
    background-color: #000;
    border: 2px solid #FF2525;
    border-radius: 7px;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
}

#start-game:hover, .periodic button:hover, #history:hover, #game:hover {
    color: #000;
    background-color: #fff;
    border-color: #FF2525;
}

#game-area {
    display: block;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 400px; /* TODO static size used for testing, will have to be made more responsive down the line */
    max-width: 806px;
    max-height: 406px;
    border: 3px solid black;
    background-color: slategray;
}

#chart-area {
    display: block;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 400px; /* TODO static size used for testing, will have to be made more responsive down the line */
    max-width: 806px;
    max-height: 406px;
    border: 3px solid black;
    background-color: white;
}

#score-text {
    margin-top: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

/* footer */

footer {
    padding: 0;
    margin: 0;
    height: 85px;
    width:100%;
    float: left;
    border-top: 5px solid #CD1717;
    background-color: #000;
    color:#fff;
}

footer .container {
    height:80px;
    max-width: 100%;
    padding:0 0 0 10px;
    margin: 0;
}

footer p {
    padding:10px 0;
}

.footer-row {
    height:80px;
    display:flex;
}

.footer-row div {
    max-height: 100%;
}

.copyright {
    padding-top: 19px;
}

.footer-contact {
    text-align: center;
    max-width: 60vw;
    padding-top: 8px;
}

.socials {
    position:absolute;
    right:0.5%;
    font-size: 1.5em;
    text-align: right;
    padding-top: 22px;
}

.footer-row .col-3 {
    max-width: 20vw;
}

/* responsive elements */

@media screen and (max-width: 767.8px) {
    .main-content {
        padding: calc((100vh - 700px)/2) 10%;
        max-width: 100%;
    }
}



@media screen and (max-width: 575.8px) {
    .main-content {
        padding: calc((100vh - 740px)/2) 10%;
    }
}

@media screen and (max-width: 450.8px) {
    .main-content {
        padding: calc((100vh - 830px)/2) 10%;
    }
}

@media screen and (max-width: 340.8px) {
    .main-content {
        padding: calc((100vh - 1000px)/2) 10%;
    }

    .footer-row div p {
        font-size: 13px;
    }

    .fab {
        font-size: 0.9em;
    }
}